
.Top_Bar {
    background-color: #07326c;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.36);
    position: fixed;
    width: 100%;
    z-index: 99999999;
    top: 0px;
}
.button_box .login_btn {
    background: linear-gradient(#00bba8, #00bfac);
    background: -webkit-linear-gradient(#00bba8, #00bfac);
    background: -ms-linear-gradient(#00bba8, #00bfac);
    background: -moz-linear-gradient(#00bba8, #00bfac);
    max-width: 105px;
    margin-right: 2px;
}

.logged_btn .user_txt span {
    word-break: break-all;
}
.button_box .login_btn:hover {
    background: linear-gradient(#00a292, #00d5c0);
    background: -webkit-linear-gradient(#00a292, #00d5c0);
    background: -ms-linear-gradient(#00a292, #00d5c0);
    background: -moz-linear-gradient(#00a292, #00d5c0);
    color: #fff;
}
.button_box i {
    font-size: 14px;
    padding-right: 3px;
    color: #fff;
    padding: 0;
}
.circle_btn{
    padding: 7px 8px 9px;
    border-radius: 100%;
    display: block;
    height: 36px;
    width: 36px;
    text-align: center;
    background: #119ddd;
    background: linear-gradient(#119ddd, #1baff2);
    background: -webkit-linear-gradient(#119ddd, #1baff2);
    background: -ms-linear-gradient(#119ddd, #1baff2);
    background: -moz-linear-gradient(#119ddd, #1baff2);
    box-shadow: 0 1px 4px rgba(0, 27, 63, 0.30);
}
.pink_circle {
    background: #11cee7;
    background: linear-gradient(#11cee7, #0fc8e1);
    background: -webkit-linear-gradient(#11cee7, #0fc8e1);
    background: -ms-linear-gradient(#11cee7, #0fc8e1);
    background: -moz-linear-gradient(#11cee7, #0fc8e1);
}
.blue_circle {
    background: #00baa7;
    background: linear-gradient(#00baa7, #00ccb8);
    background: -webkit-linear-gradient(#00baa7, #00ccb8);
    background: -ms-linear-gradient(#00baa7, #00ccb8);
    background: -moz-linear-gradient(#00baa7, #00ccb8);
}
.circle_btn img {
    max-width: 19.5px;
}
.Top_Bar .media-body, .Top_Bar .media-left, .Top_Bar .media-right {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.Top_Bar .media {
    margin-top: 0;
    display: block;
}
.Top_Bar .media:hover .media-body h3 {
    color: #fff;
    font-weight: 500;
}

.media-left, .media>.pull-left {
    padding-right: 10px;
}
.media-body {
    width: 10px;
}

*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.Top_Bar .media h3 {
    font-size: 12px;
    margin: 0;
    color: #e8ebef;
    letter-spacing: .5px;
    line-height: 14.24px;
}
.Top_Bar .active h3{
    color: #fff;
    font-weight: 500;
}

.list-inline>li {
    display: inline-block!important;
    padding-left: 5px;
    padding-right: 5px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.Top_Bar .media:after {
    content: '2';
    position: absolute;
    width: 1px;
    height: 36px;
    right: 0;
    top: 0;
    font-size: 0;
    background: -webkit-linear-gradient(#07326c, #07b1c7, #07326c);
}
.Top_Bar .media_last:after {
    display: none;
}
.head_icons .list-unstyled {
    padding: 0;
}
.head_icons .Heart_icon {
    padding-right: 22px;
}
.head_icons .Heart_icon a {
    position: relative;
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    font-size: 23px;
    margin: 0 9px;
    margin-bottom: -12px;
    padding: 0 4px 0;
}
.head_icons .Heart_icon a i {
    transition: ease-in-out .5s;
}
.head_icons .noti_spn {
    position: absolute;
    top: -8px;
    background: #dc1010;
    height: 24px;
    width: 24px;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    font-size: 11px;
    font-weight: 500;
    right: -12px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.37);
    padding: 5px 3px;
}
.head_icons .circle_box {
    padding: 0 2px;
}
.circle_box .circle_btn {
    border: 3px solid #3364a6;
    background: #07326c;
    box-shadow: 0 0 13px rgba(0, 14, 34, 0.75);
    font-size: 12px;
    padding: 7px 5px 8px;
    font-weight: 500;
    color: #e8ebef;
    text-transform: uppercase;
    line-height: 16.24px;
    opacity: 0.7;
}
.circle_box .circle_btn:hover {
    border: 3px solid #3364a6;
    color: #10b0fb;
    opacity: 1;
}
.circle_box .active {
    border: 3px solid #3364a6;
    color: #10b0fb;
    opacity: 1;
}
.Top_Bar .media h3.h3_active, .Top_Bar .media:hover h3 {
    color: #10b0fb !important;
}
.circle_box .tooltip_box .tooltiptext_box {
    left: -31px;
    width: 90px;
    top:33px;
}
.circle_box .tooltip_box .tooltiptext_box::after{
    left: 0;
    right: 0;
    max-width: 5px;
    margin: 0 auto;
}
.circle_box .tooltiptext_box p {
    color: #fff !important;
}
.Top_Bar .Sub_menu a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid;
    color: #596068;
    font-size: 13.17px;
    letter-spacing: 0.3px;
    font-weight: 500;
}
.Top_Bar .Sub_menu a i {
    padding-right: 5px;
    font-size: 16px;
    color: #596068;
}
.Top_Bar .Sub_menu a:hover i {
    color: #07326c;
}
.Top_Bar .Sub_menu a:focus, .Top_Bar .Sub_menu a:hover {
    color: #07326c;
}
.Top_Bar .dropdown-menu.Sub_menu {
    border-bottom: 3px solid #017fb9;
    border-radius: 6px;
    min-width: 175px;
    width: 100%;
    margin-top: 1px;
    top: auto;
}
.Top_Bar .button_box .dropdown {
    display: inline;
}
.logged_btn {
    display: block !important;
    max-width:205px;
}
.logged_btn .circle_btn {
    display: inline-block;
    background: #144f9e;
    box-shadow: 0 2px 5px rgba(0, 27, 63, 0.58);
    background: -webkit-linear-gradient(#144f9e, #144f9e);
}
.logged_btn .user_txt {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding-left: 10px;
}

.Top_Bar .blue_btn{
    max-width: 133px;
}

.home_box i.active {
    color: #06326c;
}
/* ===== Media CSS Start here ===== */

@media (max-width:1199px){
    .button_box .login_btn{
        max-width: 80px;
        margin-right:1px;
    }
    .button_box i {
        font-size: 12px;
    }
    .Top_Bar .media-left, .Top_Bar .media>.pull-left {
        padding-right: 5px;
    }
    .Top_Bar .media h3 {
        font-size: 11px;
    }
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
         width: 1170px; 
    }
}

@media (max-width:991px){
    .button_box .login_btn {
        max-width:72px;
        margin-right: 1px;
    }
    .circle_btn {
        padding: 6px 6px 7px 7px;
        height: 34px;
        width: 34px;
    }
    .circle_box .circle_btn{
        font-size:11px;
    }
    .Top_Bar .media h3 {
        font-size: 10px;
    }
    .head_icons .Heart_icon {
        padding-right: 8px;
    }
    .Top_Bar .Top_column{
        padding: 0 5px;
    }
    .circle_box .tooltip_box .tooltiptext_box {
        left: -60px;
    }
    .circle_box .tooltip_box .tooltiptext_box::after{
        right: 10px;
        margin: 0 0 0 auto;
    }
}

@media (max-width:767px){
    .Top_Bar {
        padding:5px 0;
    }
    .circle_box .circle_btn {
        font-size: 10px;
        height: 33px;
        width: 33px;
    }
    .Top_Bar .media {
        padding: 5px;
    }
    .Top_Bar .media:after{
        display:none;
    }
    .head_icons .circle_box {
        padding: 0;
    }
    .Top_Bar .navbar-toggle {
        border: none;
        position: absolute;
        left: 203px;
    }
    .Top_Bar .navbar-header {
        position: relative;
    }
    .Example_Nav1 .row {
        margin: 0;
    }
    .Example_Nav1{
        margin-top: 5px;
    }
    .Top_Bar .navbar-toggle .icon-bar {
        background: #fff;
    }
}

@media (max-width:425px){
    .right_user .nav, .right_user .nav li{
        display: block;
        width: 100%;
    }
    .head_icons .Heart_icon a {
        font-size: 20px;
        margin: 0 1px 0 0;
        margin-bottom: -12px;
    }
}


/* ===== Media CSS Closed here ===== */
