.form_toptxt {
    margin-top: 29px;
}
.border-error {
    border: 2px solid #E85445!important;
}

.border-warning {
    border: 2px solid #FFBF00!important;
}

.border-success {
    border: 2px solid #15bd0f!important;
}

ul.dropdown-menu.form_cont_menu {
    max-height: 269px;
    overflow-y: scroll;
}

.cap_block{
    text-shadow: center;
}

.col-xs-4 {
    width: 33.3333333333%;
    float: left;
}

.col-lg-4 {
    width: 33.3333333333%;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

@media (min-width: 1200px){
    .col-lg-4 {
        width: 33.3333333333%;
    }
}

@media (min-width: 1200px){
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
}