.ImageBanner {
    margin: 115px 0px;
    width: 100%;
    height: 309px;
    vertical-align: middle;
}
.ImageData {
  width: 380px;
  height: 200px;
}
.centeredData {
    top: 18%;
    margin: 70px 0px;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 100%;
    font-weight: 700;
}
.centered{
    text-align: center;
    margin: 35px 0px;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 30%;
    font-weight: 700;
}
.centeredMain {
    top: 0;
    color: #1baff2;
    position: absolute;
    text-align: center;
    width: 100%;
    font-weight: 700;
}
.mainLogo {
    width: 198px;
    margin-top: -95px;
    margin-left: 573px;
    justify-content: center;
}
.main_heading{
    color: #1baff2;
    font-size: 36px;
    font-weight: 600;
    color: #03a9f5;
    letter-spacing: .7px;
    line-height: 19.24px;
    text-align: center;
    margin: 0 0 25px;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
    text-transform: uppercase;
}
.col-sm-4 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}
.row {
    width: 100%;
    
}

.home_midsec {
         padding:50px 0 55px;
    /*background: url(../images/logo-bg.jpg);*/
        margin-top: 52px;
    
    }
.landing_logo {
    max-width: 226px;
    box-sizing: border-box;
    width: 100%;
}
.main_heading_landing{
    font-family: 'Play', sans-serif;
    font-size:43.469pt;
    color:#03A9F5;
    font-weight:bold;
    margin:35px 0 0;
}

.categ_img.serIMG {
    bottom: 23px;
}
.categ_img{
    max-width: 206px;
    position:relative;
    transition:ease-in-out .5s;
}
.categ_img:hover{
    transform:scale(1.3, 1.3)   
}
.categ_boxes{
    padding-top: 50px;
    
}
.footer_label {
   position: fixed;
    left: 0;
    z-index: 10;
    bottom: 9.5%;
    width: 100%;
    background-color: #000000;
    opacity: 0.7;
    color: white;
    text-align: center;
    height: 137px;
}
.btn-primary {
    background-color: blue;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    user-select: none;

}
.contentCookies{
    
}

@media (max-width:767px){
 .main_heding_landing {
    font-size: 27.469pt;
}
}
